#car{height:100%;
    .flavorSel{font-size:28px;color:#434a50;width:80%;height:30%;line-height:200%;background-color:#ffd04b;text-align:center;border:1px solid #ffd04b;border-radius:40px;
        span{color:#fff;font-size:32px;}
    }
}